
@font-face {
  font-family: 'EASTARJET-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family:'DNFBitBitv2';
  font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}

.main-container {
    background-image: url('./img/bgImg.png');
    background-size: cover;
    background-position: center;

    height: 355px; 
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:75px;
  }
  
  .search-container {
    width: 80%;
    max-width: 800px;
    position: absolute; 
  }
  
  .search-section {
    display: flex;
    align-items: center; /* 수직 정렬을 위해 필요할 수 있습니다. */
  }

  .button {
    position: relative;
    margin-left: 10px;
    background-color: #5D9EFF; 
    color: #ffffff; 
    border: 1px solid #5D9EFF; 
    border-radius: 0.375rem; 
    font-size: 0.875rem; 
    padding: 1rem 1rem; 
  }
  
  .button:hover,
  .button:focus {
    background-color: #2779bd; 
    border-color: #2779bd;
  }
  
  .input {
    width: 100%;
    padding: 1rem;
    padding-left: 3.5rem; 
    border: #ffffff 1px solid ; 
    border-radius: 0.375rem; 
    background-color: #f7fafc; 
    color: #666666; 
  }

  .input:hover,
  input:focus {
    border-color: #2779bd ; 
}  

.pickdesc {
  max-width: 1120px;
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
}

.pick-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 */
  text-align: center; 
  margin: 0 auto; /* 중앙 정렬 */
}

.subtitleImg {
  max-width: 1120px;
  width: 200px; 
  height: auto; 
  margin-top: 15px;
}

.subtxt {
  color: #666;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 250%;
  margin-top: 20px;
  text-align: left; /* 왼쪽 정렬 추가 */
}

.card-container {
    max-width: 1120px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

.ad-container{
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    gap: 10px;
}

.challenge-container{
    border-radius: 20px;
    width: 340px;
    height: 400px;
    flex-shrink: 0;
    background: var(--main, #5D9EFF);
}

.challenge-section{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px;
}

.challengetitle{
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
    padding: 20px;
    margin-top: 40px;
}

.challenge-detail{
    display: inline-flex;
    padding: 15px;
    gap: 200px;
    margin-top: 90px;
}

.count{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    gap: 5px;
}

.arrow{
    color: #FFF;
}

.oliveyoung-txt{
    width: 770px;
    height: 80px;
    margin-top: 8px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #8CD6FF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.topreviewers-container{
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center; 
    margin:0 auto;
    margin-top: 200px;
}

.reviewtitleImg{
    max-width: 1120px;
    width: 200px; 
    height: auto; 
    margin-top: 15px;
}

.reviewercards{
    max-width: 1120px;
    display: flex;
    gap: 35px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 120px;
}

.footer-container{
  margin-top: 30px;
}